#headerWrapper {
    width: 100%;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #18BC9C;
}

.logo {
    padding: 10px;
    margin-right: 10px;
    font-size: 35px;
    font-family: fantasy;
}

.tagline {
    font-size: 10px;
    margin-top: 50px;
    margin-left: -123px;
    font-family: monospace;
}

.nav-wrapper {
    margin-left: 100px;
    margin-top: 15px;
}

.desc {
    /* margin-top: 140px !important; */
    text-align: justify;
    display: block;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 14pt;
}

.name-imp {
    display: block !important;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    text-transform: uppercase !important;
    font-weight: 700 !important;
    font-size: 3.75em !important;

}

.project-title {
    text-align: left !important;
    display: block;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14pt;

}

.project-desc {
    text-align: justify;
    display: block;
    color: #2C3E50;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: capitalize;
    font-weight: 300;
    font-size: 11pt;

}


.slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height:80%;
}
.slide.ng-enter,
.slide.ng-leave {
    -webkit-transition: all 0.75s ease;
    transition: all 0.75s ease;
}
.slide.ng-enter {
    left: 100%;
}
.slide.ng-enter-active {
    left: 0;
}
.slide.ng-leave {
    left: 0;
}
.slide.ng-leave-active {
    left: -100%;
}

.box{
    border: solid;
    border-color: white;
    border-radius: 20px;
    padding: 10px;
    background-color: #2C3E50 !important;
}

.contact-title {
    text-align: center !important;
    display: block;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: lowercase;
    font-weight: 700;
    font-size: 14pt;

}
.motive{
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: capitalize;
    font-weight: 900;
    font-size: 16pt;
    font-style: italic;
    color: #2c3e50;
}

.exp-title {
    text-align: left !important;
    display: block;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14pt;

}

.exp-desc {
    text-align: justify;
    display: block;
    color: #2C3E50;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: capitalize;
    font-weight: 300;
    font-size: 11pt;

}

.exp-position {
    text-align: justify;
    display: block;
    color: #2C3E50;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 14pt;

}

.skills
 {
    /* margin-top: 140px !important; */
    text-align: center;
    display: block;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 12pt;
}

.exp-period {
    text-align: justify;
    display: block;
    color: #2C3E50;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 14pt;

}


@media (min-width: 768px) {
    .exp-period {
        float: right;
        display: block;
        color: #2C3E50;
        font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-transform: capitalize;
        font-weight: 700;
        font-size: 12pt;

    }
}

.wip{
    text-align: center;
    display: block;
    text-decoration:blink;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600!important;
    font-size: 12pt!important;
    color: black!important;
}

.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}