#headerWrapper {
    width: 100%;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: white;
}

.logo {
    padding: 10px;
    margin-right: 10px;
    font-size: 35px;
    font-family: fantasy;
}

.tagline {
    font-size: 10px;
    margin-top: 50px;
    margin-left: -123px;
    font-family: monospace;
}

.nav-wrapper {
    margin-left: 100px;
    margin-top: 15px;
}

.desc {
    /* margin-top: 140px !important; */
    color: #000 !important;
    text-align: justify;
    display: block;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 13pt;
}


.introlink
{
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 13pt;
    text-transform:uppercase;
}

.name-imp {
    color: #2C3E50 !important;
    display: block !important;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    text-transform: uppercase !important;
    font-weight: 700 !important;
    font-size: 3.75em !important;

}

.project-title {
    text-align:left;
    display: block;
    color: #2C3E50;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 14pt;

}

.project-desc {
    text-align: justify;
    display: block;
    color: #2C3E50;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
    font-weight: 300;
    font-size: 11pt;
}

.liveProjects
{
    margin-bottom: 1rem;
    margin-top: 1rem;
}



.titles{
    color: #2C3E50 !important;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700
}

.box{
    border: solid;
    border-color: white;
    border-radius: 20px;
    padding: 10px;
    background-color: #2C3E50 !important;
}

.contact-title {
    text-align: center !important;
    display: block;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: lowercase;
    font-weight: 700;
    font-size: 14pt;

}


.motive{
    text-align: left!important;
    /*font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: capitalize;*/
    font-weight: 400;
    font-size: 13pt;
    font-style: italic;
    /*color: #2c3e50;*/
    color: #000000;
}

.exp-title {
    color: #2C3E50 !important;
    text-align: left !important;
    display: block;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14pt;

}

.exp-desc {
    text-align: justify;
    display: block;
    color: #2C3E50;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: capitalize;
    font-weight: 300;
    font-size: 11pt;

}

.exp-position {
    text-align: justify;
    display: block;
    color: #2C3E50;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 14pt;

}

.exp-dummy {
    text-align: justify;
    display: block;
    color: #2C3E50;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: capitalize;
    font-weight: 600;
    text-decoration: underline;
    font-size: 11pt;

}

.skills
 {
    /* margin-top: 140px !important; */
    text-align: center;
    display: block;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 12pt;
}

.mytable
{
    display: table;
    border-bottom: 1px !important;
    border-bottom-color: white !important;
    border-spacing: 2px;
    text-align: left;
}
table {
    width: 100%;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #fff;
    text-align: center !important;
}

.rmborder{
    border-bottom: none !important;
}

tr:hover {background-color: #000}

.tablebox{
    display: block;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 12pt;
}




.headerskills
{
    /* margin-top: 140px !important; */
    color: #2C3E50 !important;
    display: block !important;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    text-transform: uppercase !important;
    font-weight: 600 !important;
    font-size: 1.4em !important;
}
.exp-period {
    text-align: justify;
    display: block;
    color: #2C3E50;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 14pt;

}


@media (min-width: 768px) {
    .exp-period {
        float: right;
        display: block;
        color: #2C3E50;
        font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-transform: capitalize;
        font-weight: 700;
        font-size: 12pt;

    }
}

.wip{
    text-align: center;
    display: block;
    text-decoration:blink;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600!important;
    font-size: 12pt!important;
    color: black!important;
}

.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}


@media (min-width: 768px) {

    .view-animate {
        padding: 10px;
    }

    .view-animate.ng-enter, .view-animate.ng-leave {
        transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) .3s;

        display: block;
        width: 100%;

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 10px;
    }

    .view-animate.ng-enter {
        left: 100%;
    }

    .view-animate.ng-enter.ng-enter-active {
        left: 0;
    }

    .view-animate.ng-leave.ng-leave-active {
        left: -100%;
    }
}

.summary{
    padding: 2rem;
    margin: 20px auto ;
    border: solid;
    border-color: white;
    border-radius: 20px;
    /*padding: 10px;*/
    background-color: #18BC9C !important;
    /*color:white;*/
}

.summary-heading{
    margin-bottom: 6px;
    color: white;
    text-align: center;
    display: block;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16pt;
}

.summary-desc {
    text-align: justify;
    display: block;
    color: white;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: capitalize;
    font-weight: 300;
    font-size: 11pt;

}
