<header>
    <div class="container">
        <div class="row" ng-controller="intro">
            <div class="col-lg-5">
                <img class="img-responsive" src="img/link.png" alt="">
                <div class="intro-text" >
                    <span class="name-imp">{{bio.name}}</span>
                    <hr class="star-light">
                    <span class="headerskills">{{bio.headline}}</span>
                </div>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-5">
                <div class="desc">
                    <hr class="star-light">{{bio.shortIntro}}
                    <!--<span class="motive">{{bio.job}}</span>-->
                </div>
            </div>
        </div>
    </div>
</header>

