<header>
    <div class="container">
        <div class="row" ng-controller="intro">
            <div class="col-lg-5">
                <img class="img-responsive" src="img/link.png" alt="">
                <div class="intro-text" >
                    <span class="name-imp">{{bio.name}}</span>
                    <hr class="star-light">
                    <span class="headerskills">{{bio.headline}}</span>
                </div>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-5">
                <div class="desc">
                    <hr class="star-light">{{bio.shortIntro}}
                    <span class="motive">{{bio.ps}}<a class="introlink" href='#projects' >Projects</a></span>
                    <span class="motive">{{bio.ps1}}</span>
                    <span class="motive"><a class="introlink" href='#experience' >Experience</a>{{bio.ps2}}</span>
                </div>
            </div>
        </div>
    </div>
</header>

