<header>
    <div class="container">

        <div class="row">
            <div class="intro-text">
                <span class="center-block"><h3 class="titles">LIVE PROJECTS</h3></span>
                <hr class="star-light">
            </div>
            <div class="row">
                <div class="wip"><a class="wip blink_me liveProjects"
                                    href="http://ec2-35-164-146-54.us-west-2.compute.amazonaws.com"
                                    target="_blank">Static Code Analyzer</a>
                </div>
                <div class="wip"><a class="wip blink_me liveProjects"
                                    href="http://sheltered-citadel-14171.herokuapp.com/#"
                                    target="_blank">Weather App using React</a>
                </div>
                <!--<div class="col-lg-12">
                    <div class="wip"><a class="wip blink_me" href="#wip">CURRENT PROJECTS</a><span class="skills">Click to View</span>
                    </div>-->
            </div>
        </div>
        <div class="row">
            <div class="intro-text">
                <span class="center-block"><h3 class="titles">TECH STACK</h3></span>
                <hr class="star-light">
            </div>
            <div class="col-lg-12 box tablebox">
                <table class="mytable">
                    <span class="skills"><tr><td>Languages & Scripts: </td><td>{{skills.programmingLanguages}}</td></tr></span>
                    <span class="skills"><tr><td>JavaScript: </td><td>{{skills.javascript}}</td></tr></span>
                    <span class="skills"><tr><td>Other Web Technologies: </td><td>{{skills.webTechnologies}}</td></tr></span>
                    <span class="skills"><tr><td>Cloud Technologies: </td><td>{{skills.cloudTechnologies}}</td></tr></span>
                    <span class="skills"><tr><td>Databases: </td><td>{{skills.databases}}</td></tr></span>
                    <span class="skills"><tr><td class="rmborder">Other Tools & Methodologies: </td><td class="rmborder">{{skills.others}}</td></tr></span>
                </table>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="intro-text">
                <span class="center-block"><h3 class="titles">PROJECTS</h3></span>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div ng-controller="projects" ng-repeat="project in projectDetails">
                    <span class="exp-position">
                        {{project.title}}
                    </span>
                    <span class="exp-desc">{{project.description}}</span>

                    <span class="exp-desc">Technologies: {{project.technologies}}</span>
                    <!--<span class="project-desc"><a href=""><i class="fa fa-fw fa-github project-desc"></i></a>Github link will be
                        updated shortly</span>-->
                    <br>
                </div>
            </div>
        </div>
        <br>
        </div>
    </div>
</header>

<!--<span class="skills">Languages & Scripts: {{skills.programmingLanguages}} </span>-->
<!--<span class="skills">JavaScript: {{skills.javascript}} </span>-->
<!--<span class="skills">Other Web Technologies: {{skills.webTechnologies}} </span>-->
<!--<span class="skills">Cloud Technologies: {{skills.cloudTechnologies}} </span>-->
<!--<span class="skills">Databases: {{skills.databases}} </span>-->
<!--<span class="skills">Other Tools & Methodologies: {{skills.others}} </span>-->