<header>
    <div class="container">

        <div class="row">
            <div class="intro-text">
                <span class="center-block"><h3>SKILLS</h3></span>
                <hr class="star-light">
            </div>
            <div class="col-lg-12 box">
                <span class="skills">Programming Languages: {{skills.programmingLanguages}} </span>
                <span class="skills">Web Technologies: {{skills.webTechnologies}} </span>
                <span class="skills">Cloud Technologies: {{skills.cloudTechnologies}} </span>
                <span class="skills">Databases: {{skills.databases}} </span>
                <span class="skills">Other Tools and IDE's: {{skills.databases}} </span>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="intro-text">
                <span class="center-block"><h3>PROJECTS</h3></span>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div ng-controller="projects" ng-repeat="project in projectDetails">
                    <span class="project-title">
                        {{project.title}}
                    </span>
                    <span class="project-desc">{{project.description}}</span>

                    <span class="project-desc">Technologies: {{project.technologies}}</span>
                    <span class="project-desc"><a href=""><i class="fa fa-fw fa-github project-desc"></i></a>Github link will be
                        updated shortly</span>
                    <br>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <div class="wip"><a class="wip blink_me" href="#wip">CURRENT PROJECTS</a><span class="skills">Click to View</span>
                </div>
            </div>
        </div>
    </div>
</header>
